# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*.joblib
models/*.pkl

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log